<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>

        <defaultDocument>
            <files>
                <add value="app.py" />
            </files>
        </defaultDocument>

	 <webSocket enabled="true" />

        <handlers>
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Administrador\AppData\Local\Programs\Python\Python312\python.exe|C:\Users\Administrador\AppData\Local\Programs\Python\Python312\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <httpErrors errorMode="Detailed" /> 

    </system.webServer>

    <appSettings>
        <add key="PYTHONPATH" value="C:\Users\Administrador\Desktop\Test\Backend-SantiagoMedical" />
        <add key="WSGI_HANDLER" value="app.app" />
    </appSettings>

</configuration>
